@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&subset=cyrillic');

body {
  font: 300 20px/1.6 $Rubik;
  color: $fontBlack;
  background: #f0f0f0;
}

html {
  font-size: .7810vw;
}

.container {
  width: 100%;
  max-width: 1570px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  transition: color $time !important;

  &:hover {
    color: #ff1a1a !important;
  }
}

@keyframes Pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


body {
  transition: background $time, color $time;

  &.dark {
    background: #161616;

    .header_main {
      .container {
        &:after {
          background: #fff;
          opacity: .1;
        }
      }

      .header_main__logo {
        color: #fff;

        &:before {
          background: #fff;
        }
      }

      .header_main__lang {
        ul {
          li {
            a {
              color: #fff;

            }

            &:before {
              color: #fff;
            }
          }
        }
      }

      .header_main__menu {
        nav {
          ul {
            li {
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }

    .first_block {
      &:before {
        color: #161616;
        text-shadow: 1px 2px 10px #1d1d1d;
      }

      .first_block__bottom {
        .first_block__bottom_elem {
          h4 {
            color: #fff;
          }
          p {
            color: #858585;
          }
        }
      }

      .first_block__middle {
        &:after {
          background: #fff;
          opacity: .1;
        }

        .first_block__middle_text {
          p {
            color: #858585;
          }
        }

        .title {
          color: #fff;
        }
      }

      .first_block__top {
        .desc_block {
          p {
            &:before {
              background: #eeff30;
            }
          }
        }

        .title_block {
          color: #fff;
        }
      }
    }

    .projects {
      .title {
        color: #fff;
      }

      .projects_box {
        .projects_elem {
          &:before {
            color: #161616;
            text-shadow: 1px 2px 10px #1d1d1d;
          }

          &:after {
            background: #fff;
            opacity: .1;
          }

          .projects_elem__url {
            a {
              color: #fff;

              &:hover {
                color: #c62040 !important;
              }
            }
          }

          .projects_elem__category {
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .contact {
      .title {
        color: #fff;
      }

      .contact_box {
        a {
          color: #858585;
        }
      }
    }
  }
}